* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 1100px;
  margin: 0 calc((100vw - 1100px) / 2);
}

.header {
  height: 100px;
  background-color: #e1ede6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 143px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 470px;
  height: 24px;
  top: 38px;
  left: 805px;
  gap: 60px;
}

.header__link {
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2c2d35;
}

.logo-text {
  font-family: Raleway;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #598d66;
}

.inkHouse {
  color: #598d66;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main__content {
  width: 540px;
  height: 331px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.main__title {
  width: 540px;
  height: 132px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 60px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #2c2d35;
}

.main__subtitle {
  width: 540px;
  height: 54px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #86928b;
}

.main__btn {
  margin-top: 60px;
  width: 225px;
  height: 65px;
  background: transparent;
  border: 1px solid #598d66;
  color: #598d66;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.catalog {
  margin-top: 100px;
  height: 44px;
}

.catalog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__title {
  font-family: Raleway;
  font-weight: 500;
  font-size: 40px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}

.catalog__navigation {
  width: 428px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__btn {
  width: 126px;
  background-color: #d4e8d9;
  border: none;
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 50px;
  cursor: pointer;
}

.catalog__btn:hover {
  background-color: #376b44;
  color: #f4f6f5;
}

.catalog__cards {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.catalog__card {
  padding: 20px;
  width: 350px;
  height: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  background-color: #e1ede6;
}

.catalog__card-img {
  width: 310px;
  height: 422px;
}

.catalog__card-author {
  font-family: Raleway;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.catalog__card-title {
  font-family: Raleway;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}

.catalog__card-subtitle {
  font-family: Raleway;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.catalog__card-price {
  font-family: Raleway;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #598d66;
}

.catalog__card-btn {
  width: 310px;
  height: 65px;
  background: transparent;
  border: 1px solid #598d66;
  color: #598d66;
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
}

.catalog .promo {
  margin-top: 50px;
  width: 1440px;
  height: 574px;
  background-repeat: no-repeat;
  background-image: url(/image/Rectangle.jpg);
}
/*# sourceMappingURL=style.css.map */